node_modules/*
packages/**/node_modules/*
packages/**/dist/*
packages/**/build/*
packages/**/lib/*
packages/**/docs/*

.vscode
.idea
dist
/public

*.sh
*.md
*.woff
*.ttf

.husky
.local
/bin
/src/mock
Dockerfile
commitlint.config.js
